@font-face {
  font-family: 'SST';
  src: url('./fonts/SSTLight.TTF') format('truetype'); /* Or .woff/.woff2 */
}

body {
  font-family: 'SST';
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
}

.clock-container {
  color: #ffffff;
  font-family: 'SST';
  font-size: 48px;
  padding: 0px 21px;
  background-color: rgba(0, 0, 0, 0.9);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8);
}

#time {
  letter-spacing: 1px;
}
