body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
}

.clock-container {
  color: #ffffff; /* White text */
  font-family: 'Arial', sans-serif; /* Simple and clean font */
  font-size: 48px; /* Big font for clear visibility */
  padding: 10px 20px;
  /* border: 2px solid #555555; Border similar to the subtle outline on PS4 UI */
  /* border-radius: 10px; Rounded corners */
  background-color: rgba(0, 0, 0, 0.6); /* Transparent background */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.8); /* Light shadow effect */
}

#time {
  letter-spacing: 1px;
}
